.skill-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 20%;
}

.skills-vector-frame {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  z-index: -100;
  width: 80%;
}

.skills-vector {
  max-height: 100%;
  width: 100%;
}

.skill > img {
  width: 108px;
  height: 108px;
  margin-bottom: 15px;
}

.skill > p {
  font-size: 24px;
  font-family: Montserrat;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.015em;
  color: black;
  margin: 0;
}

.skill {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  margin-bottom: 20px;
}

/* small screen */
@media only screen and (max-width: 640px) {
  .skills-vector-frame {
    width: 90%;
  }

  .skill-card-container {
    margin: 80px 10%;
  }
}
