.home-container {
  background: linear-gradient(39.97deg, #03d6f3 0.79%, #458ff6 79.29%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 100px 10%;
  box-sizing: border-box;
  min-height: 100vh;
}

.header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-text > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 3em;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.2px;
  color: white;
  margin: 10 px;
}

.header-text > p {
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  line-height: 20px;
  color: #e9e9e9;
  margin: 10px;
}

.head-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 35px 10px 35px 10px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 36px;
  text-decoration: none;
  height: 52px;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  margin: 4px;
}

.btn-white {
  background-color: #fff;
  color: #112d57;
}
.btn-transparent {
  border: 1px solid #fff;
  box-sizing: border-box;
  color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 10px 1px 34px rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease-in-out;
}

.btn-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: center;
}

.splash-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-anime {
  margin-bottom: -18px;
}

/* Samll height screens */
@media only screen and (max-height: 550px) {
  .home-anime {
    width: 400px;
  }
}

/* small width screen */
@media only screen and (max-width: 640px) {
  .home-anime {
    width: 80%;
    align-self: center;
    margin-bottom: -20px;
  }

  .btn {
    margin: 10px 10px 15px 10px;
  }
}
