.home-container{
    background: linear-gradient(39.97deg, #03d6f3 0.79%,#458ff6 79.29%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 100px 10%;
    box-sizing: border-box;
    min-height: 100vh;
}

.header-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}